[submodule "gumbo-get-element-by-id.c"]
	path = gumbo-get-element-by-id.c
	url = https://github.com/Jeong-Jingyo/gumbo-get-element-by-id.c
[submodule "gumbo-parser"]
	path = gumbo-parser
	url = https://github.com/google/gumbo-parser
